fastapi
uvicorn
sqlalchemy
pymysql
python-jose[cryptography]
bcrypt
python-multipart
cloudinary
pandas
openpyxl
celery
redis
python-dotenv
alembic
gunicorn
email-validator
slowapi
firebase-admin
pypdf
Pillow
aiomysql
boto3
requests
httpx
reportlab>=3.6.12
websockets
python-doctr
pytesseract
pymupdf
pdf2image
easyocr
opencv-python-headless