fastapi
uvicorn
sqlalchemy
mysqlclient
pymysql
python-jose[cryptography]
bcrypt
python-multipart
cloudinary
weasyprint
pandas
openpyxl
celery
redis
python-dotenv
alembic
gunicorn
email-validator
slowapi
firebase-admin
pypdf
Pillow
aiomysql
boto3
requests
